html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #aad5e7 !important;
}

#list {
  max-height: 70vh;
}

.nom {
  cursor: pointer;
}

.trashOff {
  visibility: hidden;
}

.trashOn {
  visibility: visible;
  transition: 0.5s ease-in-out;
}
