main {
  background-color: rgb(151, 211, 151);
}
.nom {
  cursor: pointer;
}
.nom:hover{
  border-bottom: 1px solid black;
}
#list {
  height: 75vh;
  min-height: 606px;
  background-color: lightblue;
}
button[class*="btn-outline-danger"] {
  border: none;
}

@media only screen and (max-width: 767px) {
  #list {
    height: 50vh;
    min-height: auto;
  }
  #hideOnMobile {
    display: none;
  }
}